<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tasks</title>
    </head>
    <body>
        <h1>Tasks</h1>
        {% for task in tasks %}
            <h2>{{ task.title }}</h2>
            <p>{{ task.date|date:'Y-m-d \a\t h:i' }}</p>
            <p>Done? {{ task.is_done|yesno|title }}</p>
        {% endfor %}
    </body>
</html>
